{% extends "_base.html" %}

{% block content %}
<h2 class="fw-bold">Tareas completadas</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    {% if request.user.is_student %}
    <div class="hstack gap-3 pb-4">
        <a href="/tasks/new" class="btn btn-success p-2">Crear tarea</a>
    </div>
    {% endif %}

    <div class="col-12">
        <ul class="list-group">
            {% for task in tasks %}
            {# Логика определения цвета полоски слева #}
            <li class="list-group-item list-group-item-light mb-2 shadow-sm rounded border-start border-4">

                <div class="row align-items-center">
                    <div class="col text-start">
                        <a href="/tasks/{{ task.pk }}" class="text-decoration-none link-dark p-1 d-inline-block fw-bold"
                        style="transition: transform 0.2s;"
                        onmouseover="this.style.transform='scale(1.2)'"
                        onmouseout="this.style.transform='scale(1)'">
                            {{ task.title }}
                        </a>
                    </div>

                    {% if request.user.is_student %}
                    <div class="col-auto">
                        <a href="/tasks/{{ task.pk }}/delete" class="btn btn-danger btn-sm" style="min-width: 100px;">
                            Eliminar
                        </a>
                    </div>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}