* {
    font-family: "Poppins", sans-serif;
}

body {
    background: #dfe9f5;
}

.nav-logo {
    text-align: center;
}

.nav-logo span {
    font-size: 18px;
    font-weight: bold;
}

#side_nav {
    background: #fff;
    min-width: 250px;
    max-width: 250px;
}

.bar-item {
    color: rgb(85, 83, 83);
}

.bar-item:hover {
    color: #000;
    background: #eee;
}

.content {
    background: #dfe9f5;
    min-height: 100vh;
    width: 100%;
}

.card-body i {
    float: left;
    font-size: 9rem;
}

* {
    font-family: "Poppins", sans-serif;
}

body {
    background: #dfe9f5;
}

.nav-logo {
    text-align: center;
}

.nav-logo span {
    font-size: 18px;
    font-weight: bold;
}

#side_nav {
    background: #fff;
    min-width: 250px;
    max-width: 250px;
}

.bar-item {
    color: rgb(85, 83, 83);
}

.bar-item:hover {
    color: #000;
    background: #eee;
}

.content {
    background: #dfe9f5;
    min-height: 100vh;
    width: 100%;
}

.card-body i {
    float: left;
    font-size: 9rem;
}

.hover-scale {
    display: inline-block !important;
    transition: transform 0.2s ease-in-out !important;
    }

.hover-scale:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15) !important; /* Mejora visual */
    z-index: 10 !important;
    background: #eee;
}