<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Tareas</title>
    <link href="cdn.jsdelivr.net" rel="stylesheet" />

</head>S
<body>

<div class="main-container d-flex">
    <div class="sidebar" style="min-width: 200px;" id="side_nav">
        <div class="header-box px-3 pt-4 pb-4">
            <h1 class="fs-4 nav-logo">
                <span class="text-black text-uppercase font-weight-bold">
                    <a class="link-dark text-decoration-none" href="/">GESTION de TAREAS</a>
                </span>
            </h1>
        </div>
        <ul class="list-unstyled px-2">
            {# {% if perms.products.view_product %} #}
            <li><a href="/tasks/" class="bar-item text-decoration-none px-3 py-3 d-block">
                <span><i class="fas fa-microchip"></i></span><span class="ml-1"> Tareas</span>
            </a></li>
            {# {% endif %} #}
            {# {% if perms.adsapp.view_advertisement %} #}
            <li><a href="/stages/" class="bar-item text-decoration-none px-3 py-3 d-block">
                <span><i class="fas fa-file-alt"></i></span><span class="px-1"> Etapas</span>
            </a></li>
            {# {% endif %} #}
<!--            {% if perms.leads.view_lead %}-->
<!--            <li><a href="/leads/" class="bar-item text-decoration-none px-3 py-3 d-block">-->
<!--                <span><i class="fas fa-user-clock"></i></span><span class="px-1"> Лиды</span>-->
<!--            </a></li>-->
<!--            {% endif %}-->
<!--            {% if perms.contracts.view_contract %}-->
<!--            <li><a href="/contracts/" class="bar-item text-decoration-none px-3 py-3 d-block">-->
<!--                <span><i class="fas fa-file-alt"></i></span><span class="px-1"> Контракты</span>-->
<!--            </a></li>-->
<!--            {% endif %}-->
<!--            {% if perms.customers.view_customer %}-->
<!--            <li><a href="/customers/" class="bar-item text-decoration-none px-3 py-3 d-block">-->
<!--                <span><i class="fas fa-user-check"></i></span><span class="px-1"> Активные клиенты</span>-->
<!--            </a></li>-->
<!--            {% endif %}-->
            <li>
                <hr>
            </li>
            <li>
                {% if user.is_authenticated %}
                <form action="{% url 'myauth:logout' %}" method="post" class="bar-item text-decoration-none px-3 py-3 d-block">
                    {% csrf_token %}
                    <button type="submit" class="bar-item text-decoration-none px-3 py-3 d-block border-0 bg-transparent text-start w-100">
                        <span><i class="fas fa-sign-out-alt"></i></span><span class="px-1"> Saltar</span>
                    </button>
                </form>
                {% else %}
                <a href="{% url 'myauth:login' %}" class="bar-item text-decoration-none px-3 py-3 d-block">
                    <span><i class="fas fa-sign-out-alt"></i></span><span class="px-1"> Iniciar</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="content px-3 pt-4">
        {% block content %}{% endblock %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Include jQuery and Select2 JS -->
<script src="code.jquery.com"></script>
<script src="cdn.jsdelivr.net"></script>

<!-- Initialize Select2 on the element we tagged in forms.py -->
<script>
    $(document).ready(function() {
           $('.select2-multiple').select2();
       });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var studentsDiv = document.getElementById('id_students');

        if (studentsDiv) {
            studentsDiv.style.display = 'grid';
            studentsDiv.style.gridTemplateColumns = 'repeat(3, 1fr)';
            studentsDiv.style.gap = '10px';
        }
    });
</script>
</body>
</html>